.color-red {
    color: red;
    cursor: pointer;
}

.header {
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.space-wrap {
    height: 20px;
    width: 100%;
}

.ya-background {
    background-color: #FFDB4C;
}

.buttons-suggest {
    padding: 10px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

#chart {
height: 600px;
width: 100%;
}

.help {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
}

.button-suggest {
    margin-right: 5px;
}